{% extends "layout.html" %}
{% block content %}
<p>Things with polynomials :)</p>
<p>For example: ax^2 + bx + c would be degree = 2, coefficients = a b c</p>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.degree.label() }}
    {{ form.degree() }}
    {% if form.degree.errors %}
        {% for error in form.degree.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
    {{ form.coeffs.label() }}
    {{ form.coeffs() }}
    {% if form.coeffs.errors %}
        {% for error in form.coeffs.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
    {{ form.submit() }}
    {% if form.submit.errors %}
        {% for error in form.submit.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
</form>

{% if results %}
    {% for i in results %}
        <p>{{ i }}</p>
    {% endfor %}
{% endif %}
{% endblock %}